{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for tx in transactions %}
        <tr>
            <td>{{ tx.type | capitalize }}</td>
            <td>{{ tx.symbol }}</td>
            <td>{{ tx.shares }}</td>
            <td>{{ tx.price | usd }}</td>
            <td>{{ tx.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
